<div class="dh-page">
  <div class="dh-page-header">
    <h1>Drivers</h1>
    <mat-form-field appearance="outline" class="status-filter">
      <mat-label>Filter by status</mat-label>
      <mat-select [value]="selectedStatus()" (selectionChange)="onStatusFilterChange($event.value)">
        <mat-option [value]="null">All statuses</mat-option>
        @for (status of statuses; track status) {
          <mat-option [value]="status">{{ status }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>

  <div class="table-wrapper">
    <table mat-table [dataSource]="drivers()" class="dh-full-width">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Driver</th>
        <td mat-cell *matCellDef="let driver">{{ driver.fullName }}</td>
      </ng-container>

      <ng-container matColumnDef="vehicle">
        <th mat-header-cell *matHeaderCellDef>Vehicle</th>
        <td mat-cell *matCellDef="let driver">{{ driver.vehicleMake }} {{ driver.vehicleModel }} ({{ driver.vehicleColor }})</td>
      </ng-container>

      <ng-container matColumnDef="plate">
        <th mat-header-cell *matHeaderCellDef>License plate</th>
        <td mat-cell *matCellDef="let driver">{{ driver.licensePlate }}</td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let driver">
          <mat-chip-set>
            <mat-chip>{{ driver.status }}</mat-chip>
          </mat-chip-set>
        </td>
      </ng-container>

      <ng-container matColumnDef="rating">
        <th mat-header-cell *matHeaderCellDef>Rating</th>
        <td mat-cell *matCellDef="let driver">
          <mat-icon inline class="star-icon">star</mat-icon>{{ driver.rating }}
        </td>
      </ng-container>

      <ng-container matColumnDef="trips">
        <th mat-header-cell *matHeaderCellDef>Total trips</th>
        <td mat-cell *matCellDef="let driver">{{ driver.totalTrips }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <mat-paginator
    [length]="totalElements()"
    [pageSize]="pageSize()"
    [pageIndex]="pageIndex()"
    [pageSizeOptions]="[10, 20, 50]"
    (page)="onPageChange($event)">
  </mat-paginator>
</div>
